*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.link-aula{
    color: white;
    font-size: 32px;
}

.aula5-1{
    background-color: blue;
    height: 150px;
    width: 500px;
    border-radius: 20px;
}

.aula5-2{
    background-color: blue;
    height: 150px;
    width: 500px;
    border-radius: 20px;
}