*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

.titulo{
    justify-content: center;
    font-size: 300%;
    color: black;
   
}

.aulas{
    width: 100vw;
    display: grid;
    grid-template-areas: 
    "aula-1 aula-2"
    "aula-3 aula-4"
    "aula-5 aula-6";
    justify-content: center;
    padding-block: 16px;
    gap: 16px;
    padding-inline: 32px;
    font-size: 40px;
}

.aula-1{
    background-color: blue;
    height: 150px;
    width: 500px;
    color: white;
}
.aula-2{
    background-color: blue;
    height: 150px;
    width: 500px;
    color: white;
}
.aula-3{
    background-color: blue;
    height: 150px;
    width: 500px;
    color: white;
}
.aula-4{
    background-color: blue;
    height: 150px;
    width: 500px;
    color: white;
}
.aula-5{
    background-color: blue;
    height: 150px;
    width: 500px;
    color: white;
}
.aula-6{
    background-color: blue;
    height: 150px;
    width: 500px;
    color: white;
}