*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    color: black;
    width: 100vw;
}

.aulas{
    width: 100vw;
    display: grid;
    grid-template-areas: 
    "aula-1 aula-2"
    "aula-3 aula-4"
    "aula-5 aula-6";
    justify-content: center;
    padding-block: 16px;
    gap: 16px;
    padding-inline: 32px;
    font-size: 40px;
}

.aula-1{
    background-color: blue;
    height: 150px;
    width: 500px;
    border-radius: 20px;
}
.link_aula_1{
    color: white;
    font-size: 32px;
}

.aula-2{
    background-color: blue;
    height: 150px;
    width: 500px;
    border-radius: 20px;
}
.link_aula_2{
    color: white;
    font-size: 32px;
}

.aula-3{
    background-color: blue;
    height: 150px;
    width: 500px;
    border-radius: 20px;
}
.link_aula_3{
    color: white;
    font-size: 32px;
}

.aula-4{
    background-color: blue;
    height: 150px;
    width: 500px;
    border-radius: 20px;
}
.link_aula_4{
    color: white;
    font-size: 32px;
}

.aula-5{
    background-color: blue;
    height: 150px;
    width: 500px;
    border-radius: 20px;
}
.link_aula_5{
    color: white;
    font-size: 32px;
}

.aula-6{
    background-color: blue;
    height: 150px;
    width: 500px;
    border-radius: 20px;
}
.link_aula_6{
    color: white;
    font-size: 32px;
}

.aula-7{
    background-color: blue;
    height: 150px;
    width: 500px;
    border-radius: 20px;
}
.link_aula_7{
    color: white;
    font-size: 32px;
}

.aula-8{
    background-color: blue;
    height: 150px;
    width: 500px;
    border-radius: 20px;
}
.link_aula_8{
    color: white;
    font-size: 32px;
}

.aula-9{
    background-color: blue;
    height: 150px;
    width: 500px;
    border-radius: 20px;
}
.link_aula_9{
    color: white;
    font-size: 32px;
}

.aula-10{
    background-color: blue;
    height: 150px;
    width: 500px;
    border-radius: 20px;
}
.link_aula_10{
    color: white;
    font-size: 32px;
}