body{
    height: 100vh;
    background-image: url(../img/webp/pizza_back_1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 32px 24px;
    font-family: 'Roboto', sans-serif;
}

body::after{
    position: static;
    content: "";
    inset: 0;
    background: linear-gradient(0deg, #fff0 0%, rgba(242,119,6,1) 100%);
    z-index: -1;
}

header{
    position: relative;
    height: 150px;
    z-index: 4;
}

main{
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 70px;
}

.conteudo-container-login{
    margin-top: 70px;
    width: 320px;
    color: #fff;
}

.conteudo-container-login h1{
    width: 230px;
}

.conteudo-container-login p{
    width: 320px;
}

.informacoes-de-login{
    width: 320px;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.info-email{
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#input-email{
    width: 220px;
    height: 30px;
    background: transparent;
    border: none;
    color: #fff;
    border-radius: 5px;
    outline: none;
}

#input-email::placeholder{
    color: #fff;
    opacity: 1;
    font-weight: 500;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;

}

.img-email{
    height: 30px;
    width: 30px;
}

#input-senha{
    width: 220px;
    height: 30px;
    background:  transparent;
    border: none;
    color: #fff;
    border-radius: 5px;
    outline: none;
}

#input-senha::placeholder{
    color: #fff;
    opacity: 1;
    font-weight: 500;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;

}

.info-senha{
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.img-senha{
    height: 30px;
    width: 30px;
}

.underline{
    height: 2px;
    width: 250px;
    background-color: #fff;
}

.entrarOuRedefinir{
    width: 100%;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.esqueciASenha{
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin-left: 150px;
    margin-top: 15px;
}

.criarConta{
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.criarConta p{
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}